*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #333;
    padding-bottom: 10px;
    padding-left: 60px;
}
nav li{
   display: inline-block;
}
nav li a{
    text-decoration: none;
    padding: 15px;
}
nav li a:hover {
    background-color: rgb(102, 102, 102);
}

nav li label:hover {
    background-color: rgb(102, 102, 102);
}

.dropdown-menu a{
    display: none;
    color: black;
    
}
 
input:checked + .checkbox-wrapper a{
    display: block;
}
img{
    width: 150px;
    position: relative;
    top: 5px;
}
input{
    display: none;
}
.dropdown-menu {
    position: absolute;
}
label{
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: 11% 10% 10% 40% 1fr ;
    align-content: center;
}

.dropdown {
    grid-column: 2/2;
}

.tdsF {
    display: flex;
    grid-column: 3;
}

.tdsF a {
    color: white;
    text-decoration: none;
}
  