body {
 
}
.slider {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: absolute;
  top: 60px;
}

.navigation-bar {
  position: absolute;
  bottom: 20px;
  display: flex;
  left: 50%;
  transform: translate(-50%);
}
input {
  display: none;
}
.manual-btn {
  border: 2px solid white;
  padding: 2px;
  border-radius: 20px;
  cursor: pointer;
  width: 30px;
  height: 3px;
  position: relative;
  right: 530px;
  bottom: 100px;
}
.manual-btn:not(:last-child) {
  margin-right: 20px;
}
.manual-btn:hover {
  background: #FF944D;
  transition: 0.4s;
}

.navigation-auto div {
  border: 2px solid white;
  padding: 2px;
  width: 30px;
  border-radius: 20px;
  height: 3px;
  cursor: pointer;
  position: relative;
  right: 530px;
  bottom: 100px;
}
.navigation-auto div:not(:last-child) {
  margin-right: 20px;
}

.slides {
  display: flex;
  width: 600%;
  height: 100%;
  z-index: -9999;
}
.slide {
  width: 16.6666666667%;
  transition: 0.5s;
}
.slide img {
  width: 100%;
  height: 100%;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -16.6666666667%;
}
#radio3:checked ~ .first {
  margin-left: -33.3333333334%;
}
#radio4:checked ~ .first {
  margin-left: -50.0000000001%;
}
#radio5:checked ~ .first {
  margin-left: -66.6666666668%;
}
#radio6:checked ~ .first {
  margin-left: -83.3333333335%;
}
.navigation-auto {
  position: absolute;
  bottom: 20px;
  display: flex;
  left: 50%;
  transform: translate(-50%);
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #FF944D;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #FF944D;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #FF944D;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #FF944D;
}
#radio5:checked ~ .navigation-auto .auto-btn5 {
  background-color: #FF944D;
}
#radio6:checked ~ .navigation-auto .auto-btn6 {
  background-color: #FF944D;
}
.blue {
  max-width: 550px;
  max-height: 95px;
  position: relative;
  bottom: 520px;
  left: 35px;
  
}
.lingprin {
  position: relative;
  bottom: 510px;
  left: 68px;
  color: white;
}
.idadeprin {
  position: relative;
  bottom: 470px;
  right: 515px;
  max-width: 25px;
  max-height: 25px;
}
.sino {
  font-size: 14px;
  position: relative;
  bottom: 500px;
  left: 37px;
  color: white;
}
/* shingeki */
.shin {
  max-height: 150px;
  max-width: 550px;
  position: relative;
  bottom: 550px;
  left: 20px;
}

.iddshin {
  position: relative;
  bottom: 520px;
  right: 515px;
  max-width: 25px;
  max-height: 25px;
}

.lingshin {
  position: relative;
  bottom: 561px;
  left: 68px;
  color: white;
}

.sinoshin {
  font-size: 14px;
  position: relative;
  bottom: 550px;
  left: 37px;
  color: white;
} 

.juju {
  max-width: 550px;
  max-height: 150px;
  position: relative;
  bottom: 500px;
  left: 35px;
}

/* spy */

.spy {
  max-width: 550px;
  max-height: 95px;
  position: relative;
  bottom: 560px;
  left: 35px;
  max-height: 150px;
}

.iddspy {
  position: relative;
  bottom: 520px;
  right: 515px;
  max-width: 25px;
  max-height: 25px;
}

.lingspy {
  position: relative;
  bottom: 561px;
  left: 68px;
  color: white;
}

.sinospy {
  font-size: 14px;
  position: relative;
  bottom: 550px;
  left: 37px;
  color: white;
} 



/* doutor */

.doutor {
  max-width: 550px;
  max-height: 150px;
  position: relative;
  bottom: 560px;
  left: 5px;
}

.iddstone {
  position: relative;
  bottom: 520px;
  right: 515px;
  max-width: 25px;
  max-height: 25px;
}

.lingstone {
  position: relative;
  bottom: 562px;
  left: 68px;
  color: white;
}

.sinodr {
  font-size: 14px;
  position: relative;
  bottom: 550px;
  left: 37px;
  color: white;
}

.verCarrossel {
  position: relative;
  top: 60px;
  color: black;
  background-color: #f47521;
  padding: 3px 8px 4px 8px;
  justify-self: start;
  width: 300px;
  max-height: 50px;
}

.verPromo {
  display: flex;
}

.com {
  position: relative;
  left: 10px;
}

.seta {
  font-size: 30px;
  position: relative;
  bottom: -3px;
}

.verCarrosselStone {
  position: relative;
  top: 40px;
  color: black;
  background-color: #f47521;
  padding: 3px 8px 4px 8px;
  justify-self: start;
  width: 300px;
  max-height: 50px;
}

.verCarrosselChain {
  position: relative;
  top: 80px;
  color: black;
  background-color: #f47521;
  padding: 3px 8px 4px 8px;
  justify-self: start;
  width: 300px;
  max-height: 50px;
}

.verCarrosselShin {
  position: relative;
  top: 24px;
  color: black;
  background-color: #f47521;
  padding: 3px 8px 4px 8px;
  justify-self: start;
  width: 300px;
  max-height: 50px;
}

.salvarr {
  position: relative;
  top: 10px;
  max-width: 60px;
  max-height: 60px;
  left: 320px;
  cursor: pointer;
}

.salvarshin {
  position: relative;
  bottom: 25px;
  max-width: 60px;
  max-height: 60px;
  left: 320px;
  cursor: pointer;
}

.salvarchain {
  position: relative;
  top: 30px;
  max-width: 60px;
  max-height: 60px;
  left: 320px;
  cursor: pointer;
}

.salvarDJS {
    position: relative;
    bottom: 10px;
    max-width: 60px;
    max-height: 60px;
    left: 320px;
    cursor: pointer;
}