.geral {
  margin-top: 40px;
  display: grid;
  padding: 70px;
  position: relative;
  bottom: 150px;
}

.modelo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}

.conteudo {
  padding-top: 60px;
  position: relative;
  z-index: -999;
  width: 60%;
  height: 500px;
  padding-left: 300px;
}

.play {
  padding-left: 80px;
  position: relative;
  bottom: 95px;
  cursor: pointer;
}

.modeloLeft {
  max-width: 50%;
  padding-left: 150px;
  width: 190px;
  position: relative;
  left: 40px;
}

#titulo {
  font-size: 32px;
  font-weight: 900;
}

.light {
  opacity: 0.7;
  font-weight: 100;
}

.ano {
  font-size: 18px;
}

#categoria {
  font-size: 12px;
  padding: 8px;
  background-color: #2a2f3e;
  border-radius: 14px;
}

.txtArea {
  background-color: #141519;
  border: #36373a solid 1px;
  padding: 10px;
  color: white;
}
h2 {
  font-size: 17px;
  color: orangered;
  cursor: pointer;
}
.num {
  font-size: 12px;
  color: #adaeb1;
  cursor: default;
}
.barra {
  color: #adaeb1;
}
.idade {
  width: 20px;
}
.ling {
  font-size: 15px;
  color: #adaeb1;
  position: relative;
  left: 6px;
  top: -4px;
}
.p {
  font-size: 11px;
  position: relative;
  left: 6px;
  top: -5px;
}
.salvar {
  width: 18px;
  position: relative;
  left: 580px;
  bottom: -37px;
  cursor: pointer;
}
.lançou {
  font-size: 15px;
}
.like {
  width: 25px;
  cursor: pointer;
}
.dislike {
  width: 25px;
  position: relative;
  top: 1.5px;
  left: 36px;
  cursor: pointer;
}
.li {
  font-size: 13px;
  position: relative;
  left: 4px;
  color: #adaeb1;
}
.li1 {
  font-size: 13px;
  position: relative;
  left: 40px;
  top: -2px;
  color: #adaeb1;
}
.comp {
  width: 20px;
  position: relative;
  left: 477px;
  cursor: pointer;
}
.coroa {
  width: 20px;
  position: relative;
  top: 3px;
}
.coment {
  color: #fab818;
}
.mais {
  width: 25px;
  position: relative;
  left: 400px;
  top: 7px;
  cursor: pointer;
}
.m {
  position: relative;
  left: 405px;
  color: #adaeb1;
  cursor: pointer;
}
.comentar {
  width: 200px;
  cursor: pointer;
  position: relative;
  top: 40px;
  right: 201px;
}
.icoon {
  width: 70px;
  position: relative;
  right: 94px;
  bottom: -130px;
}
.comentarios {
  position: relative;
  left: 90px;
}
.t {
  font-size: 13px;
  color: #adaeb1;
  position: relative;
  left: 25px;
}
.c {
  position: relative;
  left: 20px;
}
.icon1 {
  width: 70px;
  position: relative;
  right: 8px;
  top: 25px;
}
.com1 {
  position: relative;
  left: 90px;
  bottom: 8px;
}
.com2 {
  position: relative;
  left: 90px;
}
.coments {
  width: 220px;
  position: relative;
  left: 95px;
  top: -15px;
}
.coments1 {
  width: 220px;
  position: relative;
  left: 95px;
}
.ex {
  font-size: 14px;
  color: #548094;
  position: relative;
  left: 90px;
  top: 20px;
  cursor: pointer;
}
.ex1 {
  font-size: 14px;
  color: #548094;
  position: relative;
  left: 90px;
  cursor: pointer;
}
.gojo {
  position: relative;
  top: -40px;
}
.modeloRight {
  position: relative;
  right: 250px;
}
.mdcom {
  position: relative;
  left: 300px;
}
.i {
  font-size: 20px;
}
input:checked + .checkbox p {
  display: none;
}
input:checked + .checkbox p{
  display: block;
}
input:checked + .checkbox hr {
  display: none;
}
input:checked + .checkbox hr{
  display: block;
}
hr{
  display: none;
}

input {
  display: none;
}
.pp{
  display: none;
}
.audio {
  position: relative;
  left: 360px;
}
.id {
  position: relative;
  left: 444px;
}
.idd {
  position: relative;
  left: 267px;
  top: 20px;
}
.pt {
  position: relative;
  left: 465px;
}
.mos{
  color: #adaeb1;
  cursor: pointer;
}

.boxImg {
  max-width: max-content;
}
.lupa{
  cursor: pointer;
}
.salvaB{
  cursor: pointer;
}

