.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Lato", sans-serif;
}
.navbar {
  background-color: #23252B;
  display: flex;
  justify-content: start;
  gap: 20px;
}

a{
  color: white;
  font-size: 20px;
  text-decoration: none;
  
}
.Crun{
  width: 200px;
}

.menub {
  width: 40px;
}
.ver{
  color: black;
  background-color: #F47521;
  padding: 8px;
}
p{
  text-align: start;
  flex-wrap: wrap;
}