* {
}

.top1 {
  width: 300px;
  height: 400px;
}

.banner {
  position: absolute;
  z-index: -999;
  width: 2000px;
  height: 400px;
}

.number {
  display: flex;
  position: relative;
  z-index: -999;
  left: 70px;
  top: 30px;
  font-size: 340px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  /* não é a mesma fonte */
}

.desca {
  grid-column: 1/1;
  grid-row: 2/2;
}

.desca1 {
  grid-column: 2;
  grid-row: 2/2;
}
.desca2 {
  grid-column: 3;
  grid-row: 2/2;
}

.top_3 {
  margin-top: 70px;
  display: grid;
  grid-template-rows: 2;
}

.top3_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.box {
  display: flex;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  color: white;
  font-family: "Lato", sans-serif;
  background-color: #000000;
  margin: 0px;
}
.navbar {
  background-color: #23252B;
  display: flex;
  justify-content: start;
  gap: 20px;
}

.film_recent {
  margin-top: 70px;
  display: grid;
}

.filrec_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 20px;
}

.serie_recent {
  margin-top: 70px;
  display: grid;
}

.serec_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 20px;
}

a{
  color: white;
  font-size: 20px;
  text-decoration: none;
  
}
.Crun{
  width: 200px;
}

.menub {
  width: 40px;
}
.ver{
  color: black;
  background-color: #F47521;
  padding: 14px;
  grid-column: 1/2;
  justify-self: start;
  width: 320px;
  position: relative;
  left: 20px;
}
.sinopse{
  text-align: start;
  grid-column: 1/2;
  position: relative;
  left: 20px;
}

.foot {
  margin-top: 40px;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 60px;
  color: #a0a0a0;
}

.final_box {
  display: flex;
  gap: 10px;
  padding: 20px 0px 40px 0px;
}

.logo_sony {
  margin-top: 5px;
  width: 158px;
  height: 12px;
}

.final_box > p {
  margin: 0px;
  color: #a0a0a0;
}

.box1 > p, .box2 > p, .box3 > p, .box4 > p {
  margin-top: 5px;
  font-size: 14px;
}

.ajuste {
  font-weight: 500;
}

.degrade {
  display: grid;
  justify-items: center;
  background-image: linear-gradient(
    #000000, #213944
  );
}

.centra {
  width: 1100px;
}

.contrast {
  color: white;
  font-weight: 700;
}
.Animeprin{
  display: grid;
  grid-template-columns: 2fr 2fr;
  position: relative;
}
.jujutsu{
  width: 500px;
  position: relative;
  left: 20px;
}
.idade{
  width: 30px;
  grid-column: 1/2;
  position: absolute;
  top: 140px;
  left: 20px;
}
.ling{
  text-align: start;
  grid-column: 1/2;
  position: relative;
  left: 60px;
}
.seta{
  font-size: 30px;
  position: relative;
  bottom: -3px;
}
.com{
  position: relative;
  left: 10px;
}

hr {
  height: 0.3px;
  border: none;
  background-color: #a0a0a0;
  opacity: 0.3;
}

.tiny {
  opacity: 0.3;
}