body {
  color: white;
  font-family: "Lato", sans-serif;
  background-color: #000000;
  margin: 0px;
}

.divLarger {
  display: grid;
  grid-template-columns: 15% 5% 5% 10% 1fr 30%;
  justify-content: start;
  gap: 20px;
}

.navbar {
  background-color: #23252b;
  max-width: max-content;
  height: 60px;
  position: fixed;
  top: 0px;
  z-index: 999;
}

.lato-regular {
  font-family: "Lato", sans-serif;
}

a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.Crun {
  max-width: 70%;
  position: relative;
  top: 16px;
  left: 30px;
}

.tdsS {
  padding-top: 16px;
  grid-column: 2;
}

.tdsF {
  padding-top: 16px;
}

.iconzinhos {
  display: flex;
  z-index: 999;
  grid-column: 6;
  max-width: max-content;
  width: 160px;
  justify-self: end;
}

.lupa {
  max-width: 25%;
  padding-top: 18px;
  justify-self: start;
  grid-row: 1;
  position: relative;
  right: 60px;
  height: 20px;
  cursor: pointer;
}

.salvaB {
  max-width: 25%;
  position: relative;
  right: 60px;
  height: 20px;
  padding-top: 18px;
  padding-left: 40px;
  cursor: pointer;
}

.caixinha {
  display: flex;
  max-width: max-content;
  width: 160px;
  position: relative;
  right: 40px;
}

.user {

}

.iconuser {
  max-width: 28%;
  padding-top: 6px;
  position: relative;
  right: 40px;
  cursor: pointer;
}

.setinha {
  font-size: 20px;
  cursor: pointer;
  position: relative;
  right: 30px;
  top: 16px;
}
/* footer */

.foot {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 60px;
  color: #a0a0a0;
}

hr {
  height: 0.3px;
  border: none;
  background-color: #a0a0a0;
  opacity: 0.3;
}

.tiny {
  opacity: 0.3;
}

.degrade {
  display: grid;
  justify-items: center;
  background-image: linear-gradient(#000000, #213944);
}

.centra {
  width: 1100px;
}

.contrast {
  color: white;
  font-weight: 700;
}

.final_box {
  display: flex;
  gap: 10px;
  padding: 20px 0px 40px 0px;
}

.logo_sony {
  margin-top: 5px;
  width: 158px;
  height: 12px;
}

.final_box > p {
  margin: 0px;
  color: #a0a0a0;
}

.box1 > p,
.box2 > p,
.box3 > p,
.box4 > p {
  margin-top: 5px;
  font-size: 14px;
}

.ajuste {
  font-weight: 500;
}
