body {
  color: white;
  font-family: "Lato", sans-serif;
  background-color: #000000;
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4;
  margin-top: 60px;
  justify-items: center;
}

.film {
  width: 200px;
}

.leg {
  color: #7e7e80;
}
h1 {
  position: relative;
  left: 120px;
}
