body {
  color: white;
  font-family: "Lato", sans-serif;
  background-color: #000000;
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4;
  margin-top: 70px;
  justify-items: center;
  padding: 0px 60px 0px 60px;
  margin-bottom: 200px;
}

.film {
  width: 200px;
}

.leg {
  color: #7e7e80;
  position: relative;
  top: 20px;
}

h1 {
  position: relative;
  font-size: 28px;
  margin: 0px;
  right: -105px;
}


p {
  margin: 0px;
  font-family: "Lato", sans-serif;
  position: relative;
  top: 14px;
}

#title {
  margin-top: 90px;
  margin-bottom: 50px;
  max-width: max-content;
}

#serie {
  display: flex;
  justify-self: start;
  grid-column: 1/1;
  position: relative;
  right: 1px;
  left: 55px;
}

.upbar {
  display: grid;
  gap: 100px;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 300px 1fr 1fr 1fr 1fr;
  gap: 80px;
  position: relative;
  bottom: -30px;
}

.tam {
  height: 20px;
  margin-right: 10px;
}

.flex {
  display: flex;
  grid-column: 4;
}

.flex2 {
  display: flex;
  grid-column: 5;
}

.tamanho {
  opacity: 0.8;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  justify-items: end;
}
.lupa{
  cursor: pointer;
}
.salvaB{
  cursor: pointer;
}
.outline {
  transition: all 0.2s;
  border: 10px solid transparent;
}

.outline:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
div{
  gap: 30px;
}
