body{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
}
.Bl{
  grid-column: 1/6;
  display: flex;
}
.cha{
  grid-column: 2/6;
  
}
.mop{
  width: 10px;
}
.filtro{
  width: 400px;
}